<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
    <h1>Detail Layanan</h1>
    <table>
        <tr>
            <th>ID Transaksi</th>
            <th>ID Detail Layanan</th>
            <th>Jenis Layanan</th>
        </tr>
        {% for item in service_detail %}
        <tr>
            <td>{{item.idtransaksi_id}}</td>
            <td>{{item.iddetaillayanan}}</td>
            <td>{{item.idlayanan.jenislayanan}}</td>
            <td>
                <a href="{% url 'updatedetaillayanan' item.iddetaillayanan %}">
                    <button>Update Detail Layanan</button>
                </a>
                <a href="{% url 'deletedetaillayanan' item.iddetaillayanan %}">
                    <button>Delete Detail Layanan</button>
                </a>
            </td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>