<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi</title>
</head>
<body>
    <h1>Transaksi</h1>
    <a href="{%url 'home' %}">
        <button>Home</button>
    </a>
    <a href="{%url 'createdetaillayanan' %}">
        <button>Add Detail Layanan</button>
    </a>
    <table>
        <tr>
            <th>ID Transaksi</th>
            <th>ID Pelayan</th>
            <th>Nama Pelanggan</th>
            <th>Tanggal Transaksi</th>
            <th>Detail Layanan</th>
            <th>Action</th>
        </tr>
        <tbody>
        {% for item in transaksi %}
        <tr>
            <td>T_{{item.0.idtransaksi}}</td>
            <td>{{ item.0.idpelayan.namapelayan }}</td>
            <td>{{ item.0.namapelanggan }}</td>
            <td>{{ item.0.tanggaltransaksi}}</td>
            <td>
                {% for x in item.1 %}
                <p>
                    {{x.idlayanan.jenislayanan}}
                </p>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'updatetransaksi' item.0.idtransaksi %}">
                    <button>Update</button>
                </a>
                <a href="{% url 'detaillayanan' item.0.idtransaksi %}">
                    <button>Detail Layanan</button>
                </a>
                <a href="{% url 'deletetransaksi' item.0.idtransaksi %}">
                    <button>Delete</button>
                </a>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>