<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Transaksi</title>
</head>
<body>
    <h1>Update Transaksi</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>ID Pelayan</th>
                <td>
                    <select required name="idpelayan" id="">
                    {%for item in pelayan %}
                    <option value="{{item.idpelayan}}">{{item.namapelayan}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Nama Pelanggan</th>
                <td>
                    <input type="text" value="{{gettransaksiobj.namapelanggan}}" name="namapelanggan">
                </td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>
                    <input type="date" value="{{gettransaksiobj.tanggaltransaksi}}" name="tanggaltransaksi">
                </td>
            </tr>
        </table>
        <button type="submit">Update</button>
    </form>
</body>
</html>