<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data Layanan</title>
</head>
<body>
    <h1>Update Data Layanan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Jenis Layanan</th>
                <td>

                    <input type="text" name="jenislayanan" value="{{layanan.jenislayanan}}">
                </td>
            </tr>
            <tr>
                <th>Harga Layanan</th>
                <td>

                    <input type="text" name="hargalayanan" value="{{layanan.hargalayanan}}" >
                </td>
            </tr>
            </table>
            <button type="submit" >Submit</button>
    </form>
</body>
</html>